name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Prepare Node env
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Setup Hexo
        env:
          HEXO_DEPLOY_KEY: ${{ secrets.HEXO_DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$HEXO_DEPLOY_KEY" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global user.email "wensir_top@163.com"
          git config --global user.name "topsion"
          cd themes/tranquilpeak
          rm package-lock.json
          npm install && npm run prod
          cd ../..
          rm package-lock.json
          npm install
          npm install hexo-cli -g
          npm install
          sed -i "s/HEXO_DEPLOY_KEY/$HEXO_DEPLOY_KEY/g" ./_config.yml

      - name: Deploy
        run: |
          hexo clean
          hexo g
          hexo deploy